* {
    font-family: 'Vollkorn', serif;
    color: #12263A;
    font-size: 1em;
}

.body {
    font-family: 'EB Garamond', serif;
}

.primary {
    color: #7DC1D8;
}

.secondary {
    color: #525A7B;
}

.gray {
    color: #B2B6CB;
}

.flex {
    display: flex;
}

.mid {
    font-weight: 700;
}

.heavy {
    font-weight: 900;
}

.skill
{
    font-family: 'EB Garamond', serif;
    display: inline-flex;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

@media print {
    * {
        font-size: 1.02em;
    }
}