:root {
    --primary-color: #e5f2c9;
    --text-color: #435058;
    --lighten-amount-1: 50%;
    --lighten-amount-2: 90%;
}

@font-face {
    font-family: 'Safiro Regular';
    /* Name you choose for your font */
    src: url('../assets/safiro/Safiro-Regular.otf') format('opentype');
    /* Path to your font file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Safiro Bold';
    /* Name you choose for your font */
    src: url('../assets/safiro/Safiro-Bold.otf') format('opentype');
    /* Path to your font file */
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nudica Regular';
    /* Name you choose for your font */
    src: url('../assets/nudica/Nudica-Regular.otf') format('opentype');
    /* Path to your font file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nudica Bold';
    /* Name you choose for your font */
    src: url('../assets/nudica/Nudica-Bold.otf') format('opentype');
    /* Path to your font file */
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CHANEY';
    /* Name you choose for your font */
    src: url('../assets/chaney/CHANEY-Regular.otf') format('opentype');
    /* Path to your font file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'N27 Bold';
    /* Name you choose for your font */
    src: url('../assets/N27/N27-Bold.otf') format('opentype');
    /* Path to your font file */
    font-weight: normal;
    font-style: normal;
}


body {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    color: var(--text-color);
    font-family: 'Nudica Regular', sans-serif;
    font-optical-sizing: auto;
}

a,
a:hover,
a:active,
a:visited {
    color: var(--text-color);
    text-decoration: none;
}

h1,
h2 {
    margin: 0rem 0rem .5rem 0rem;
    font-family: 'Safiro Bold';
    /*text-transform: uppercase;*/
    /* font-variant-caps: petite-caps; */
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: .3rem 1rem 1rem 1rem;
    background-color: var(--primary-color);
    gap: 5px;
}

#summary {
    padding: 1rem;
    background-color: color-mix(in srgb, var(--primary-color), white var(--lighten-amount-1))
}

#summary p {
    margin-bottom: 0px;
}

#sidebar {
    padding: 1rem;
    background-color: color-mix(in srgb, var(--primary-color), white var(--lighten-amount-1))
}

#work-history {
    padding: 1rem;
    background-color: color-mix(in srgb, var(--primary-color), white var(--lighten-amount-2))
}

.job-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-line {
    min-width: max-content;
}

.company,
.job-title,
.company-location,
.employment-dates {
    display: inline-flex;
    min-width: max-content;
}

.header-line-1 {
    font-family: 'Nudica Bold';
}

.hyphen::after {
    margin: 0 10px;
    content: ' - ';
}

.header-line-2 {
    font-style: italic;
}

#skills {
    max-width: 30vw;
}

.skill-item {
    display: inline-flex;
    margin: 0px 20px 10px 0px;
}

.school-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.school-name {
    font-weight: 800;
    min-width: max-content;
    margin-right: 20px;
}

.school-location {
    font-style: italic;
}

ul {
    margin-top: 5px;
    padding-inline-start: 25px; 
}

.no-bullet {
    list-style-type: none;
    padding-inline-start: 0px; 
}

#sidebar ul {
    max-width: 30vw;
}

li {
    margin: 10px 0px;
}